:root {
    --lightBlue: #6388ff;
    --veryLightBlue: #9fb1ed;
    --veryDarkBlue: #1b136b;
    --darkestBlue: #3148cc;
    --blackishBlue: #21303e;
    --blackishBlueLighter: #152a36;
    --white: #fff;
    --black: #333;
    --grey: #828282;
    --lightGrey: #999;
    --veryLightGrey: #999999;
    --lightestGrey: #edeff7;
    --logoGreen: #1FA637;
    --backBlack: #0a0a0a;
    --lightishBlack: #212324;
    --greyish: #f5f7fa;
    --moreGreyish: #f5f5f5;
}
.main_signin_container {
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

}
.main_signin_inner_container {
    background-color: var(--moreGreyish);
    display: flex;
}
.signin_items_container {
    margin-top: 65px;
    background-color: var(--white);
    padding-bottom: 300px;
    box-shadow: 0px 3px 4px  var(--lightestGrey);
}
.signin_logo_pic img {
    width: 60px;
}
.submit_cancel_forgot_cont {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.password_forgot_cont {
/*    float: right;*/
    width: 100%;
    height: 50px;
    margin-bottom: 35px

}
.password_forgot_cont p {
    float: right;
    margin: 35px 5%;
}
.password_forgot_cont a {
    text-decoration: none;
    color: var(--logoGreen);
}
.submit_cancel_buttons_signin {
/*    margin-bottom: 300px;*/
}
.submit_cancel_buttons_signin a {
    margin-left: 5%;
}
.submit_cancel_buttons_signin button {
    width: 85px;
    margin-right: 5%;
}
@media only screen and (min-width: 640px) {
    .signin_items_container {
        width: 100%;
        padding-bottom: 0;
        margin: 100px auto 300px auto ;
/*        height: auto;*/
/*        margin-top: 200px*/
    }
    .signin_logo_pic img {
        margin-left: 3%;
    }
    .password_forgot_cont p, .submit_cancel_buttons_signin button {
        margin-right: 8%;
    }
    .submit_cancel_buttons_signin a {
        margin-left: 6%;
    }
}
@media only screen and (min-width: 900px) {
    .signin_items_container {
        width: 900px;
    }
    .signin_logo_pic img {
/*        margin-left: 3%;*/
    }
    .password_forgot_cont p, .submit_cancel_buttons_signin button {
        margin-right: 9%;
    }
    .submit_cancel_buttons_signin a {
        margin-left: 7%;
    }
